$main-color: #fff; 
$font-lato: 'Lato', sans-serif;
$font-raleway: 'Raleway', sans-serif;

* {
    margin: 0;
    padding: 0;
    color: #706f6f;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

h1, h2, h3 {
    color: #464a4e;
}

h2 {
    font-family: $font-lato;
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 5px;
}

a {
    color: #706f6f;
    text-decoration: none;
}

a:hover {
    color: #2b2b2b;
}

@media all and (max-width: 798px) {
    .round {
        display: none;
    }
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;

    header.header{

        .container{
            background-color: $main-color;
            max-width: 798px;
            height: 50px;
            margin: 0 auto;
        }

        nav.header-nav {
            ul.header-nav-ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                height: 50px;
                font-family: $font-lato;
                font-size: 0.75rem;
                box-sizing: border-box;
                padding: 15px;
            }
        }
    }

    main {
        flex-grow: 1;

        .container {
            max-width: 798px;
            margin: 0 auto;

            .main-name-photo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 170px;
                box-sizing: border-box;
                padding: 40px;
                background-color: #f4f4f4;
                margin-bottom: 80px;

                @media all and (max-width: 798px) {
                    flex-direction: column;
                    height: auto;
                    min-height: 170px;
                }

                .name {
                    font-family: $font-raleway;
                    font-size: 2.2rem;
                    letter-spacing: 20px;
                    font-weight: normal;

                    b{
                        color: #464a4e;
                    }
                }

                .expertise {
                    font-family: $font-lato;
                    font-size: 0.75rem;
                    letter-spacing: 20px;
                    font-weight: normal;
                }

                img{
                    width: 180px;
                    height: auto;
                    clip-path: circle(50%);
                    position: relative;
                    top: 30px;
                }
            }

            .main-cv {
                display: flex;
                flex-direction: row;
                font-family: $font-lato;
                font-size: 0.75rem;

                @media all and (max-width: 798px) {
                    flex-direction: column-reverse;
                }

                .underline {
                    height: 2px;
                    background-color: #464a4e;
                    margin-top: 20px;
                }

                .left-side {
                    flex: 3;
                    padding-left: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    nav.contacts {
                        margin: 0 35px 0 0;

                        h2 {
                            display: none;
                            margin-bottom: 20px;
                            margin-top: 40px;

                            @media all and (max-width: 798px) {
                                display: block;
                            }
                        }

                        img {
                            margin: 0 7px 0 0;
                        }

                        ul {
                            list-style: none;
                            box-sizing: border-box;
                            margin-bottom: 25px;

                            li {
                                line-height: 22px;
                                align-items: center;
                                display: flex;
                                justify-content: space-between;

                                p {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                }
                            }
                        }
                    }

                    .skills, .education, .languages, .hobbies {
                        margin-top: 40px;
                        margin-bottom: 20px;

                        ul {
                            margin-top: 35px;

                            li {
                                line-height: 22px;
                                align-items: center;
                            }
                        }
                    }

                    .hobbies {

                        .icons {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            box-sizing: border-box;
                            padding: 0 30px 0 0;

                            img {
                                height: 40px;
                            }
                        }
                    }

                    .round {
                        background-color: #fff;
                        width: 0.65rem;
                        height: 0.65rem;
                        border-radius: 50%;
                        border: solid #2b2b2b 1px;
                        transform: translate(7px, -5px);
                        float: right;
                    }
                }

                .right-side {
                    flex: 5;
                    padding-right: 50px;
                    border-left: solid #464a4e 2px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media all and (max-width: 798px){
                        border-left: none;
                    }

                    .profile {
                        margin-left: 35px;
                        min-height: 130px;

                        h2 {
                            margin-bottom: 20px;
                        }
                        
                        p {
                            line-height: 20px;
                        }
                    }

                    .work-experience {
                        margin-left: 35px;

                        h2 {
                            margin: 40px 0 40px 0;
                        }
                        
                        p {
                            line-height: 20px;
                            margin-bottom: 10px;
                            text-indent: 30px;
                        }

                        b:hover {
                            color: #2b2b2b;
                        }

                        ul {
                            list-style: none;
                        }
                    }

                    .example-of-code {
                        margin-left: 35px;

                        h2 {
                            margin: 40px 0 40px 0;
                            text-transform: uppercase;
                        }

                        ul {
                            li {
                                line-height: 22px;
                            }
                        }
                    }

                    .round {
                            background-color: #fff;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            border: solid #2b2b2b 1px;
                            transform: translate(-7px, -5px);
                    }
                };

                img {
                    height: 15px;
                }
            }
        }
    }
    footer {
        height: 50px;
        margin-top: auto;
        font-family: $font-lato;

        .container {
            max-width: 798px;
            margin: 10px auto;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        @media all and (max-width: 400px) {
            .container {
                flex-direction: column;
            }
            div{
                margin: 10px 0;
            }
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }

        img {
            height: 40px;
            width: auto;
        }
    }
}
